<%- model_class = Boat -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if user_signed_in? %>

  Welcome <%= current_user.name%>

<% end %>
<% if @boats.blank? %>
  <h4>There are no boats containing the term <%= params[:search] %>.</h4>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:boat_name) %></th>
      <th><%= model_class.human_attribute_name(:style) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:toilets) %></th>
      <th><%= model_class.human_attribute_name(:shower) %></th>
      <th><%= model_class.human_attribute_name(:baths) %></th>
      <th><%= model_class.human_attribute_name(:kitchen) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>



      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @boats.each do |boat| %>
      <tr>

        <td><%= boat.boat_name %></td>
        <td><%= boat.style %></td>
        <td><%= boat.description %></td>
        <td><%= number_to_currency(boat.price) %></td>
        <td><%= boat.toilets %></td>
        <td><%= boat.shower %></td>
        <td><%= boat.baths %></td>
        <td><%= boat.kitchen %></td>
        <td><%= image_tag boat.image.url(:thumb) %></td>


        <td>

          <%= link_to t('.show', :default => t("helpers.links.show")),
                      boat_path(boat), :class => 'btn btn-default btn-xs' %>

          <% if can? :update, boat %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_boat_path(boat), :class => 'btn btn-default btn-xs' %>

          <% end %>
          <% if can? :destroy, boat %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      boat_path(boat),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                      <% end %>
                      <% end%>
        </td>
      </tr>

  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_boat_path,
            :class => 'btn btn-primary' %>
